/******************** own formating **********************/

.strong-font {
    color: red !important;
    font-weight: bold !important;
    font-size: 17px !important;
}

.strong-font--formating {
    font-size: 25px !important;
    margin-bottom: 20px;
}


#sidemenu_toggle {
    display: none !important;
}

.navbar-brand {
    width: 180px !important;
    max-width: 180px !important;
}

.center-brand .navbar-brand {
    top: 70% !important;
}

.navbar.fixedmenu .logo-default,
.navbar .logo-scrolled {
    width: 120px;
    position: relative;
    bottom: 13px;
}

.fixedmenu {
    height: 100px !important;
}

/******************** counter start **********************/

.counter-container__h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.counter-container__h3 {
    margin-bottom: 50px;
}

.para {
    font-size: 15px !important;
}

.text-capitalize.btn-red {
    background: #0888a3;
    padding: 10px 15px;
}

.text-capitalize.btn-red:hover {
    background: inherit;
    color: #0888a3;
    border: 1px solid #0888a3;
    font-weight: bold;
}

.counter-content--formating {
    padding: 0 16px;
    margin-bottom: 50px;
}

.counter-content__h3 {
    margin: 40px 0;
}

.counter-content h3,
.counter-content h3 span {
    font-size: 30px !important;
}

.counter-content__h5 {
    font-weight: bold;
    margin-bottom: 20px;
}

.counter-content p {
    font-size: 17px !important;
    color: white !important;
    font-weight: lighter;
}

.parallax-box {
    margin-bottom: 50px;
}

.parallax-box__h4 {
    font-size: 22px;
    margin: 40px 0;
}

.parallax-box__h5 {
    font-size: 18px !important;
    font-family: initial;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 70px;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #141414;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.counter-container__table__thead__h3 {
    display: none;
}

/******************** 404 page start **********************/

.error-page-container {
    margin-top: 100px;
}

.error-page-container__text-box {
    margin-top: 150px;
}

.error-page-container__text-box__link {
    margin-bottom: 25px;
}

.error-page-container__img {
    width: 100%;
}

.error-page-container__text-box__p {
    color: #007bff;
}

/******************** contact start **********************/

.contact-sec .contact-details {
    padding-top: 50px !important;
}

.d-block.text-blue.contact-sec__h2__span {
    margin: 20px 0 -10px 0;
}

/******************** all-products start **********************/

.row.main-heading {
    margin-bottom: 50px;
}

.slider1__img {
    height: 550px !important;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.all-products__h6 {
    text-align: center;
    margin-top: 110px;
}

/******************** media query start **********************/

@media screen and (max-width: 959px) {}

@media screen and (max-width: 767px) {

    .navbar.fixedmenu .logo-scrolled,
    .navbar .logo-default {
        width: 120px;
        position: relative;
        bottom: 15px;
    }

    .center-brand {
        height: 105px !important;
    }

    #sidemenu_toggle {
        display: block !important;
    }

    #home-banner {
        margin-top: 100px !important;
    }

    .strong-font--formating {
        margin: 20px 0;
    }

    .main-font.counter-container__h2 {
        font-size: 26px;
    }

    .counter-container__table__thead__h3 {
        display: block;
        margin-bottom: 70px;
    }

    .slider1__img {
        height: 350px !important;
        margin-bottom: 7px;
    }

    .all-products__h6 {
        margin-top: 60px;
    }

    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

    .mt-5,
    .my-5 {
        margin-top: 0 !important;
    }

    #before-after-slider .container {
        width: 100%;
        padding: 0 20px
    }

}